.container {
    max-width: 400px;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.inputBox {
    display: flex;
    margin: 20px;
    gap: 10px;
    height: 35px;
}

.buttonBox {
    background-color:#1E90FF;
    border-radius: 3px;
    border: #1E90FF;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionBox {
    margin: 0 20px;
}

.inputBox div {
    flex: 1;
    margin-right: 20px;
}

.inputBox input {
    width: 100%;
    font-size: 18px;
    padding: 5px;
    outline: none;
    
}

.textInput:focus {
    border: 2px solid #1E90FF;
    border-radius: 3px;
}

.errorInput:focus {
    border: 2px solid red;
    border-radius: 3px;
}


.content {
    padding: 20px;
}
.list-box {
    width: 200;
    margin-top: 10;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.list-item {
    display: flex;
}

.validate {
    color: red;
    font-size: 13px;
}